/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Include all of Ionic
@import "bower_components/ionic/scss/ionic.scss";
@import "poku/theme.scss";


// Login SCSS
.login-page {
	background-color: #585566;
	height: 100vh;

	.login-logo {
		margin-top: 130px;
	}

	.login-form {
		margin-top: 50px;

		.login-input{
			background-color: transparent;
			border-bottom: 1px solid #fff;
			color: white;
			width: 60%;
			text-align: center;
			height: 50px;
		}

		.button{
			width: 60%;
			background-color: #454255;
			color: white;
			border-color: none;
		}
	}

	.login-footer{
	}
}


