<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item-divider>AUTHENTICATION</ion-item-divider>
        <ion-item menu-close ui-sref="app.auth.login">Login</ion-item>
        <ion-item menu-close ui-sref="app.auth.forget-password">Forget Password</ion-item>
        <ion-item menu-close ui-sref="app.auth.forget-password-success">Forget Password Success</ion-item>
        <ion-item menu-close ui-sref="app.auth.register">Register</ion-item>
        <ion-item menu-close ui-sref="app.auth.activate">Activate Account</ion-item>
        <ion-item menu-close ui-sref="app.auth.activate-success">Activate Account Success</ion-item>
        <ion-item menu-close ui-sref="app.support.terms-condition">Terms &amp; Condition</ion-item>
        <ion-item menu-close ui-sref="app.home">Home</ion-item>
        <ion-item-divider>PROFILE</ion-item-divider>
        <ion-item menu-close ui-sref="app.profile.mine">My Profile</ion-item>
        <ion-item menu-close ui-sref="app.auth.change-password">Change Password</ion-item>
        <ion-item-divider>MYDMEDIKA</ion-item-divider>
        <ion-item menu-close ui-sref="app.admedika.connect">Connect My AdMedika Card</ion-item>
        <ion-item menu-close ui-sref="app.admedika.show">Show My Digital Card</ion-item>
        <ion-item menu-close ui-sref="app.admedika.member">Member Info</ion-item>
        <ion-item menu-close ui-sref="app.admedika.benefit">Benefit</ion-item>
        <ion-item menu-close ui-sref="app.admedika.claim">Claim History</ion-item>
        <ion-item menu-close ui-sref="app.admedika.provider">Provider</ion-item>
        <ion-item menu-close ui-sref="app.admedika.status">My Status</ion-item>
        <ion-item-divider>Setting</ion-item-divider>
        <ion-item menu-close ui-sref="app.setting">Setting Menu</ion-item>
        <ion-item-divider>SUPPORT</ion-item-divider>
        <ion-item menu-close ui-sref="app.support.terms-condition">Terms &amp; Condition</ion-item>
        <ion-item menu-close ui-sref="app.support.faq">FAQ</ion-item>
        <ion-item menu-close ui-sref="app.support.about">About</ion-item>
        <ion-item menu-close ui-sref="app.support.contact-us">Contact Us</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
