<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Login">
	<ion-content class="login-page" scroll="false">
		<div class="login-logo">
			<center>
				<img src="img/assets/logo.png" width="100px" height="100px">
				<p class="text-clear">Pojok Kuliner Online</p>
			</center>
		</div>
		<div class="login-form">
			<center>
				<form>
					<input type="text" name="username" class="login-input" placeholder="username">
					<input type="password" name="password" class="login-input" placeholder="password">
					<br />
					<button class="button login-button">Log in</button>
				</form>
				<p class="text-soft margin-top-x-s">forget your password?</p>
			</center>
		</div>
		<div class="login-footer">
			<center>
				<p class="text-soft">Don't have an account? <a href="" class="text-clear">Create One</a></p>
			</center>
		</div>
	</ion-content>
</ion-view>
